<div class="container">
        <h1>Contact me</h1>
        <p>You can contact me via social media or email.</p>
        
        <div class="social-icons">
            <!-- E-mail -->
            <a href="mailto:votre-email@example.com" target="_blank">
                <img src="https://urldefense.com/v3/__https://cdn-icons-png.flaticon.com/512/732/732200.png__;!!AaIhyw!roZsMawX9O_c5tG-4fI-DTKgNrwy3nfi_IezfH6JDa76T3uoar9n9OOWLS-O66hlEZCHPWEZPWh9Irt2RokU5RySQsqI$ " alt="Email Icon">
            </a>
            
            <!-- Facebook -->
            <a href="https://urldefense.com/v3/__https://www.facebook.com/votrecompte__;!!AaIhyw!roZsMawX9O_c5tG-4fI-DTKgNrwy3nfi_IezfH6JDa76T3uoar9n9OOWLS-O66hlEZCHPWEZPWh9Irt2RokU5RHk-0ml$ " target="_blank">
                <img src="https://urldefense.com/v3/__https://cdn-icons-png.flaticon.com/512/145/145802.png__;!!AaIhyw!roZsMawX9O_c5tG-4fI-DTKgNrwy3nfi_IezfH6JDa76T3uoar9n9OOWLS-O66hlEZCHPWEZPWh9Irt2RokU5Y-EJD1R$ " alt="Facebook Icon">
            </a>
            
            <!-- GitHub -->
            <a href="https://urldefense.com/v3/__https://github.com/votrecompte__;!!AaIhyw!roZsMawX9O_c5tG-4fI-DTKgNrwy3nfi_IezfH6JDa76T3uoar9n9OOWLS-O66hlEZCHPWEZPWh9Irt2RokU5a2HuruF$ " target="_blank">
                <img src="https://urldefense.com/v3/__https://cdn-icons-png.flaticon.com/512/733/733609.png__;!!AaIhyw!roZsMawX9O_c5tG-4fI-DTKgNrwy3nfi_IezfH6JDa76T3uoar9n9OOWLS-O66hlEZCHPWEZPWh9Irt2RokU5XJlbyzr$ " alt="GitHub Icon">
            </a>

            <!-- Google+ -->
            <a href="https://urldefense.com/v3/__https://plus.google.com/votrecompte__;!!AaIhyw!roZsMawX9O_c5tG-4fI-DTKgNrwy3nfi_IezfH6JDa76T3uoar9n9OOWLS-O66hlEZCHPWEZPWh9Irt2RokU5brN4On8$ " target="_blank">
                <img src="https://urldefense.com/v3/__https://cdn-icons-png.flaticon.com/512/281/281764.png__;!!AaIhyw!roZsMawX9O_c5tG-4fI-DTKgNrwy3nfi_IezfH6JDa76T3uoar9n9OOWLS-O66hlEZCHPWEZPWh9Irt2RokU5fNRlV97$ " alt="Google+ Icon">
            </a>

            <!-- LinkedIn -->
            <a href="https://urldefense.com/v3/__https://www.linkedin.com/in/votrecompte__;!!AaIhyw!roZsMawX9O_c5tG-4fI-DTKgNrwy3nfi_IezfH6JDa76T3uoar9n9OOWLS-O66hlEZCHPWEZPWh9Irt2RokU5WYakPCy$ " target="_blank">
                <img src="https://urldefense.com/v3/__https://cdn-icons-png.flaticon.com/512/174/174857.png__;!!AaIhyw!roZsMawX9O_c5tG-4fI-DTKgNrwy3nfi_IezfH6JDa76T3uoar9n9OOWLS-O66hlEZCHPWEZPWh9Irt2RokU5ZiSh9Rg$ " alt="LinkedIn Icon">
            </a>
            
            <!-- Twitter -->
            <a href="https://urldefense.com/v3/__https://twitter.com/votrecompte__;!!AaIhyw!roZsMawX9O_c5tG-4fI-DTKgNrwy3nfi_IezfH6JDa76T3uoar9n9OOWLS-O66hlEZCHPWEZPWh9Irt2RokU5S4aNiGL$ " target="_blank">
                <img src="https://urldefense.com/v3/__https://cdn-icons-png.flaticon.com/512/733/733579.png__;!!AaIhyw!roZsMawX9O_c5tG-4fI-DTKgNrwy3nfi_IezfH6JDa76T3uoar9n9OOWLS-O66hlEZCHPWEZPWh9Irt2RokU5deX_xVA$ " alt="Twitter Icon">
            </a>
        </div>
    </div>
