<section class="portfolio-section">
        <div class="ino">
            <img  class= "prime-project" src="https://www.omnycontent.com/d/playlist/b19cf408-c31a-4a2c-893a-abd7005a7605/9f059eff-41ac-4002-89fa-ad11005034b6/1cd08c00-4ce1-4d1b-a923-ad11005091a6/image.jpg?t=1619666978&size=Large">
        </div>
        <h2 id= "projects-ctn-title"> My projects </h2>
        <div class = "projects-grid">
          <div class = "project">
             <img src="https://i.postimg.cc/0rcdPtns/bass-music.jpg"
             <p class = "description" >"« Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor." </p>
          </div>
          <div class = "project">
             <img src="https://i.postimg.cc/svxPXpHZ/threadly.jpg"
             <p class = "description" >"« Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor." </p>
          </div>
          <div class = "project">
             <img src="https://i.postimg.cc/ZCQ8yCXs/bolt-network.jpg"
             <p class = "description" >"« Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor." </p>
          </div>
        </div>
</section>
