<section class="main-section">
        <div class="tagline">
            I create digital solutions that drive growth and innovation.
        </div>
        <div class="btn-view-work">
        <%= link_to "View My Work", portfolio_path %>
        
        </div>
</section>
