<header>
        <div class="logo">Erwan Feltesse</div>
        <nav>
            <ul>
                <li><a href="#home">Accueil</a></li>
                <li><a href="#about">À propos</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
   <section class="main-section">
        <div class="tagline">
            I create digital solutions that drive growth and innovation.
        </div>
        <a href="#portfolio" class="btn-view-work">View My Work</a>
    </section>

    <footer>
        <div class="social-icons">
            <a href="https://urldefense.com/v3/__https://github.com/erwanfeltesse__;!!AaIhyw!qD-keFOm_6JAYx4e52nnt1OCrEpke4AGken5KID4wHkWlxUasmmp7tXyI3h66d7VfTRprIoiVbXRYsG1V_Ad3C1rUxfH$ " target="_blank">
                <img src="https://urldefense.com/v3/__https://cdn-icons-png.flaticon.com/512/25/25231.png__;!!AaIhyw!qD-keFOm_6JAYx4e52nnt1OCrEpke4AGken5KID4wHkWlxUasmmp7tXyI3h66d7VfTRprIoiVbXRYsG1V_Ad3K6gK5H4$ " alt="GitHub">
            </a>
            <a href="https://urldefense.com/v3/__https://www.linkedin.com/in/erwanfeltesse__;!!AaIhyw!qD-keFOm_6JAYx4e52nnt1OCrEpke4AGken5KID4wHkWlxUasmmp7tXyI3h66d7VfTRprIoiVbXRYsG1V_Ad3Nb8-bOz$ " target="_blank">
                <img src="https://urldefense.com/v3/__https://cdn-icons-png.flaticon.com/512/174/174857.png__;!!AaIhyw!qD-keFOm_6JAYx4e52nnt1OCrEpke4AGken5KID4wHkWlxUasmmp7tXyI3h66d7VfTRprIoiVbXRYsG1V_Ad3Ivndn5_$ " alt="LinkedIn">
            </a>
            <a href="https://urldefense.com/v3/__https://twitter.com/erwanfeltesse__;!!AaIhyw!qD-keFOm_6JAYx4e52nnt1OCrEpke4AGken5KID4wHkWlxUasmmp7tXyI3h66d7VfTRprIoiVbXRYsG1V_Ad3LUeS0Af$ " target="_blank">
                <img src="https://urldefense.com/v3/__https://cdn-icons-png.flaticon.com/512/733/733579.png__;!!AaIhyw!qD-keFOm_6JAYx4e52nnt1OCrEpke4AGken5KID4wHkWlxUasmmp7tXyI3h66d7VfTRprIoiVbXRYsG1V_Ad3Jc1PEc9$ " alt="Twitter">
            </a>
        </div>
        <div class="copyright">
            &copy; 2024 Erwan Feltesse. Tous droits réservés.
        </div>
    </footer>

